<div class="container">
  <h1>Ejemplo simple de routing</h1>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/page1">Page1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/page2">Page2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/user',1]">User1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/user',2]">User2</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
