<h1>Page1</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur, ea error et fuga impedit iure laudantium magni, nihil nostrum odio quae quaerat quidem, ratione rem repellat repellendus similique voluptate.</span><span>A accusamus adipisci, aliquam at corporis cum deserunt dignissimos dolorem eos est ex harum ipsa iusto maiores nobis obcaecati, odio possimus quas ratione repudiandae rerum tempore temporibus tenetur veniam voluptatem.</span><span>Adipisci alias aperiam at autem cumque dolorem doloribus eum eveniet expedita illo, ipsa itaque mollitia nesciunt nihil nisi officiis pariatur perferendis placeat quae quasi quia reiciendis repudiandae saepe veniam voluptas.</span><span>At enim ex illo impedit laboriosam modi odit quos rem, saepe similique! Deleniti, error facilis itaque magni nulla porro qui soluta. Aliquid maxime molestias possimus sed voluptate! Corporis, fugiat voluptatibus?</span><span>Et, fugit, veritatis! Culpa eaque eveniet facere iusto maxime, minima molestias mollitia nisi omnis praesentium quibusdam, quos soluta, suscipit tempora unde. Doloremque illum labore nam odit pariatur quisquam sunt suscipit.</span>
</p>
<button class="btn btn-default pull-right" (click)="goPage2()">Go page2 <span class="glyphicon glyphicon-arrow-right"></span></button>
